<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hungnv_Hello::menu"
             title="HUNGNV" module="Hungnv_Hello"
             sortOrder="10"
             resource="Magento_Backend::content"
        />
        <!-- START: new node -->
        <add id="Hungnv_Hello::menu_item"
             title="Items" module="Hungnv_Hello"
             sortOrder="10" parent="Hungnv_Hello::menu"
             action="createmenubackend/create/index"
             resource="Hungnv_Hello::menu_item"
        />
        <!-- END:   new node -->
    </menu>
</config>
